@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-responsive center-block" src="~/Content/Images/logoLargeUVT.png"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sports</h2>
        <p>
            View your current sports or add a new sport that you are teaching this semester, then you will be able to enroll students to it.
        </p>
        <p> <a class="btn btn-default" href='@Url.Action("Index", "Sport")'> View sports &raquo;</a>  </p>
    </div>
    <div class="col-md-4">
        <h2>Students</h2>
        <p>View your students and their statuses.Add attendances new students or other modifications</p>
        <p> <a class="btn btn-default" href='@Url.Action("Index", "Student")'> View sports &raquo;</a>  </p>
    </div>
    <div class="col-md-4">
        <h2>Generate reports</h2>
        <p>Generate reports to see how students are doing, how many of them need presences or how many already have them all.</p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "Attendance")'>Generate reports &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body">Panel Content</div>
        <div class="panel-footer">Panel Footer</div>
    </div>

</div>